<h1 class="visually-hidden">Headers examples</h1>
<header class="py-3 mb-3 border-bottom">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none"
        id="dropdownNavLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="../../assets/youtubeLogo.png"
          class="bi me-2"
          width="40"
          height="32"
        />
      </a>
    </div>

    <div class="d-flex align-items-center">
      <form class="w-100 me-3">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          [(ngModel)]="searchField"
          name="searchField"
          (ngModelChange)="retrieveData()"
        />
      </form>
    </div>
  </div>
</header>
<!-- <button (click)="retrieveData($event)">click</button> -->
<div class="container-fluid pb-3">
  <div class="d-grid gap-3 videoGrid">
    <div class="rounded-3">
      <iframe *ngFor="let viedo of videos" class="videosList"
[src]="'https://www.youtube.com/embed/'+ viedo.id.videoId | safe">
</iframe>

    </div>
    <div class="border rounded-3">
      <iframe class="firstVideo"
        
        [src]="'https://www.youtube.com/embed/' + firstVideo | safe"
      >
      </iframe>
    </div>
  </div>
</div>
